.sidebar {
  min-width: 15% !important;
  max-width: 15% !important;
  padding: 1.5rem 0;
  background-color: #001529;

  .title {
    font-weight: 500;
    color: #2fbfff;
    padding: 1.5rem 3rem;
  }
}